.Youtube {
	.underline {
		border-bottom: 1px solid #333;
	}
	.container {
		.left {
			width: 30%;
			height: 100vh;
			float: left;
			border: 1px solid blue;
		}
		.Ycontent {
			width: 30%;
			height: 550px;
			border: 1px solid red;
			float: right;
			object-fit: cover;
			margin-bottom: 50px;
			img {
				width: 100%;
				height: 300px;
				margin-bottom: 10px;
			}
			h2 {
				margin-bottom: 10px;
				width: 100%;
			}
			p {
				margin-bottom: 10px;
				width: 100%;
			}
		}
	}
}
