@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700&family=Noto+Sans+KR:wght@100&family=Orbitron&family=Roboto:ital,wght@1,100&display=swap');

.Youtube {
	.underline {
		border-bottom: 3px solid #333;
		margin-bottom: 20px;
	}
	.container {
		.left {
			width: 30%;
			height: 100vh;
			float: left;
			h3 {
				font: bold 1.8rem/1.5 'arial';
			}
			p {
				font: bold 1.2rem/1.2 'Roboto';
			}
		}
		.Ycontent {
			width: 30%;
			height: 550px;
			float: right;
			object-fit: cover;
			margin-bottom: 40px;
			margin-right: 20px;
			transition: 0.5s;
			img {
				width: 100%;
				height: 300px;
				margin-bottom: 10px;
			}
			h2 {
				margin-bottom: 10px;
				width: 100%;
				font: bold 1.5rem/1 'arial';
				word-break: break-all;
			}
			p {
				margin-bottom: 10px;
				width: 100%;
				font: bold 1rem/1 'arial';
				word-break: break-all;
			}
			span {
				width: 100%;
				font: bold 0.8rem/1 'arial';
				word-break: break-all;
			}
			&.on {
				transform: scale(1.2);
				background-color: #fff;
				box-shadow: 6px 8px 10px rgba(131, 128, 132, 0.7);
			}
		}
	}
}

.tablet {
	.Youtube {
		.container {
			.left {
				display: none;
			}
			.Ycontent {
				width: 45%;
				&.on {
					transform: scale(1.2);
				}
			}
		}
	}
}

.mobile {
	.Youtube {
		.container {
			.left {
				display: none;
			}
			display: flex;
			flex-wrap: wrap;
			align-content: center;
			justify-content: center;
			.Ycontent {
				width: 95%;
				&.on {
					transform: scale(1.2);
				}
			}
		}
	}
}
