@import '../../../styles/Variable.scss';

.Gallery {
	.loading {
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	.searchBox {
		width: 100%;
		margin-bottom: 15px;
		form {
			width: 100%;
			input {
				width: 92%;
				height: 2vw;
				margin-right: 1vw;
				border: none;
			}
			button {
				width: 5%;
				height: 2vw;
				border: none;
				background: darkgray;
				color: #fff;
			}
		}
	}
	.btnSet {
		width: 50%;
		.my,
		.interest {
			width: 20%;
			height: 30px;
			margin-right: 10px;
			border: none;
			background: #fff;
			color: #333;
			&.on {
				background: #333;
				color: #fff;
			}
		}
	}
	.picFrame {
		width: 100%;
		opacity: 0;
		transform: translateY(200px);
		transition: 0.5s;
		&.on {
			opacity: 1;
			transform: translateY(0px);
		}
		&::after {
			content: '';
			display: none;
			clear: both;
		}

		article {
			width: 48%;
			float: left;
			padding: 5px;
			margin-bottom: 30px;
			border: none;
			transition: 0.5s;
			.inner {
				width: 100%;

				.pic {
					width: 100%;
					height: 40vw;
				}
				h2 {
					font: normal 1rem/1.2 'arial';
					color: #555;
					margin-top: 10px;
					margin-bottom: 40px;
				}
				.lower {
					display: flex;
					justify-content: space-between;
					transition: 0.5s;
					.profile {
						width: 80%;
						display: flex;
						align-items: center;
						gap: 20px;
						img {
							width: 50px;
						}
						span {
							font-size: 0.8rem;
						}
						padding-bottom: 20px;
					}
					.arrow {
						width: 15%;
						font-size: 40px;
						transform: rotate(45deg);
					}
					border-bottom: 1px solid black;
				}
			}
			&.on {
				img {
				}
				transform: scale(1.05);
				z-index: 2;
			}
		}
	}
}
@media screen and (max-width: $labtop) {
	.Gallery {
		.picFrame {
			article {
				width: 33.3333%;
			}
		}
	}
}

@media screen and (max-width: $tablet) {
	.Gallery {
		.picFrame {
			article {
				width: 50%;
			}
		}
	}
}
@media screen and (max-width: $mobile) {
	.Gallery {
		.picFrame {
			article {
				width: 100%;
			}
		}
	}
}
