@import '../../../styles/Variable.scss';

.Gallery {
	.searchBox {
		width: 100%;
		margin-bottom: 15px;
		form {
			width: 100%;
			input {
				width: 92%;
				height: 2vw;
				margin-right: 1vw;
				border: none;
			}
			button {
				width: 5%;
				height: 2vw;
				border: none;
				background: darkgray;
				color: #fff;
			}
		}
	}
	.btnSet {
		width: 50%;
		.my,
		.interest {
			width: 20%;
			height: 30px;
			margin-right: 10px;
			border: none;
			background: #fff;
			color: #333;
			&.on {
				background: #333;
				color: #fff;
			}
		}
	}
	.picFrame {
		width: 100%;
		transform: translateY(30px);
		transition: 0.5s;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		&::after {
			content: '';
			display: none;
			clear: both;
		}

		article {
			background-color: #fff;
			width: 48%;
			float: left;
			padding: 5px;
			margin-bottom: 30px;
			border: none;
			transition: 0.5s;
			.inner {
				width: 100%;
				.pic {
					width: 100%;
					height: 30vw;
				}
				h2 {
					font: normal 1rem/1.2 'arial';
					color: #555;
					margin-top: 10px;
					margin-bottom: 40px;
				}
				.lower {
					display: flex;
					justify-content: space-between;
					transition: 0.5s;
					.profile {
						width: 80%;
						display: flex;
						align-items: center;
						gap: 20px;
						img {
							width: 50px;
						}
						span {
							font-size: 0.8rem;
						}
						padding-bottom: 20px;
					}
					.arrow {
						width: 15%;
						font-size: 40px;
						transform: rotate(45deg);
					}
					border-bottom: 1px solid black;
				}
			}
			&.on {
				transform: scale(1.05);
				z-index: 2;
				box-shadow: 6px 8px 10px rgba(131, 128, 132, 0.7);
			}
		}
	}
}
.labtop {
	.Gallery {
		.picFrame {
			article {
				width: 33.3333%;
			}
		}
	}
}
.tablet {
	.Gallery {
		.picFrame {
			article {
				width: 50%;
			}
		}
	}
}
.mobile {
	.Gallery {
		.searchBox {
			width: 100%;
			height: 3vh;
			margin-bottom: 15px;
			form {
				width: 100%;
				height: 100%;
				input {
					width: calc(100% - 25%);
					height: 100%;
					margin-right: 1vw;
					border: none;
				}
				button {
					width: calc(100% - 80%);
					height: 100%;
					border: none;
					background: darkgray;
					color: #fff;
				}
			}
		}
		.btnSet {
			width: 100%;
			.my,
			.interest {
				width: 20%;
				height: 30px;
				margin-right: 10px;
				border: none;
				background: #fff;
				color: #333;
				&.on {
					background: #333;
					color: #fff;
				}
			}
		}
		.picFrame {
			article {
				width: 100%;
			}
		}
	}
}
