@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');

.layout {
	width: 100%;
	position: relative;
	figure {
		width: 100%;
		height: 30vh;
		background: gray;
		opacity: 1;
	}

	.content {
		width: 70vw;
		margin: 5vh auto;
		min-height: 60vh;
		opacity: 1;

		h1 {
			font: normal 100px/1 'Nanum Myeongjo';
			color: violet;
			margin-bottom: 30px;

			span {
				display: inline-block;
				opacity: 1;
			}
		}
	}
	&.on {
		figure {
			opacity: 1;
		}
		.content {
			opacity: 1;
			transform: translateX(0px);
			h1 {
				span {
					opacity: 1;
					transform: scale(1);
				}
			}
		}
	}
}

.tablet {
	.layout {
		.content {
			h1 {
				font-size: 80px;
			}
		}
	}
}
.mobile {
	.layout {
		.content {
			h1 {
				font-size: 50px;
			}
		}
	}
}
