@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@800&family=Noto+Sans+KR:wght@100&family=Open+Sans&family=Orbitron&family=Roboto:ital,wght@1,100&display=swap');

.news {
	width: 100%;
	height: 100vh;
	background: #efefef;
	padding: 20px;
	position: relative;
	top: 0;
	left: 0;

	.left {
		border: 2px solid black;
		padding: 20px;
		position: absolute;
		top: 20;
		left: 20;
		width: 48%;
		height: 95%;
		background: rgb(224, 224, 224);
		.Btitle {
			font: bold 80px/1 'Nanum Myeongjo';
		}
		.bar {
			width: 14vw;
			height: 2.5px;
			background: #000;
		}
		.booklist {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			width: 100%;
			height: 75%;
			position: relative;
			top: 40px;
			article {
				display: none;
				position: absolute;
				width: 100%;
				height: 89%;
				display: flex;
				background: #efefef;
				flex-wrap: wrap;
				padding: 20px;
				opacity: 0;
				display: flex;
				justify-content: space-between;
				transform: translateX(-200px);
				transition: 0.5s 0.5s;
				border: 2px solid black;
				.pic {
					width: 50%;
					height: 100%;
					img {
						width: 100%;
						height: 100%;
					}
				}
				.txtBox {
					position: relative;
					width: 49%;
					padding: 20px;
					border: 2px solid black;
					background: #efefef;
					word-break: break-all;

					h2 {
						font: bold 1.8vw/1.5 'arial';
					}
					.subbar {
						width: 15vw;
						height: 2px;
						background: #000;
						margin-bottom: 20px;
					}
					p {
						font: normal 1.5vw/1 'Noto Sans Korean';
						word-break: break-all;
					}
				}
				&.on {
					display: flex;
					opacity: 1;
					transform: translateX(0px);
					.bar {
						width: 130px;
					}
				}
			}
			.btn {
				position: absolute;
				width: 100%;
				height: 10%;
				bottom: 0;
				left: 0;
				display: flex;
				justify-content: space-between;
				gap: 30px;
				button {
					background: #efefef;
					width: 100%;
					height: 100%;
					border: none;
					display: inline-block;
					font-size: 1.5rem;
					position: relative;
					font-family: 'arial';
					font-weight: bold;
					&::before {
						content: '';
						display: block;
						width: 100%;
						height: 1px;
						background: #999;
						position: absolute;
						top: 0;
						right: -200;
					}
					&::after {
						content: '';
						display: block;
						width: 100%;
						height: 1px;
						background: #999;
						position: absolute;
						bottom: 0;
						left: -200;
					}
				}
			}
		}
	}
	.right {
		border: 2px solid black;
		float: right;
		width: 48%;
		height: 100%;
		padding: 20px;
		background: rgb(224, 224, 224);
		.txtBox {
			display: block;
			float: right;
			.title {
				text-align: right;
				font: bold 80px/1 'Nanum Myeongjo';
			}
			.bar {
				float: right;
				width: 14vw;
				height: 2.5px;
				background: #000;
				margin-bottom: 50px;
			}
		}

		.postWrap {
			border: 2px solid black;
			padding: 10px;
			width: 100%;
			height: 70vh;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;

			article {
				border: 2px solid black;
				width: 47%;
				margin-bottom: 25px;
				height: 250px;
				padding: 20px;
				background: #fff;
				display: flex;
				flex-wrap: wrap;
				.subtitle {
					width: 100%;
					height: 40px;
					font: bold 30px/1 'arial';
					line-height: 40px;
					word-break: break-all;
				}
				.bars {
					width: 80px;
					height: 2px;
					background: #000;
				}
				p {
					width: 100%;
					height: calc(100% - 40px);
					font: normal 16px/1 'arial';
					margin-top: 10px;
					word-break: break-all;
				}
			}
		}
	}
}

.tablet {
	.news {
		.left {
			width: 58%;
			.bar {
				width: 25vw;
			}
		}

		.right {
			float: right;
			width: 40%;
			height: 100%;

			.txtBox {
				.bar {
					width: 26vw;
					height: 2.5px;
					float: right;
					background: #000;
					margin-bottom: 50px;
				}
			}
			.postWrap {
				width: 100%;
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;

				article {
					width: 47%;
					height: 31.5vh;
					.subtitle {
						width: 100%;
						height: 20px;
						font: bold 2.6vw/1 'arial';
						line-height: 40px;
						word-break: break-all;
					}
					p {
						width: 100%;
						height: 140px;
						font: normal 16px/1 'arial';
						word-break: break-all;
					}
				}
			}
		}
	}
}

.mobile {
	.news {
		height: 200vh;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		.left {
			position: absolute;
			width: 100%;
			background: rgb(224, 224, 224);
			height: 48%;
			border: none;
			border-bottom: 3px solid black;
			.bar {
				width: 50vw;
				height: 2.5px;
				background: #000;
			}
			.booklist {
				display: flex;
				justify-content: center;
				flex-wrap: wrap;
				width: 100%;
				height: 75%;
				position: relative;
				top: 40px;
				article {
					.txtBox {
						height: 55vh;
						h2 {
							font: bold 3.5vw/1.5 'arial';
						}
						.subbar {
							width: 29vw;
							height: 2px;
							background: #000;
							margin-bottom: 20px;
						}
						p {
							font: normal 5vw/1 'Noto Sans Korean';
						}
					}
				}
			}
		}
		.right {
			position: absolute;
			float: left;
			width: 100%;
			height: 48%;
			background: rgb(224, 224, 224);
			top: 50%;
			border: none;

			.txtBox {
				.bar {
					width: 52vw;
					height: 2.5px;
					background: #000;
					margin-bottom: 50px;
				}
			}
			.postWrap {
				width: 100%;
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				article {
					width: 49%;
					height: 31.5vh;
					h2 {
						float: left;
						width: 100%;
						font: bold 30px/1 'arial';
						word-break: break-all;
					}
					p {
						width: 100%;
						height: 140px;
						font: normal 16px/1 'arial';
						word-break: break-all;
					}
				}
			}
		}
	}
}
