* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
ul,
ol,
li {
	list-style: none;
}
a {
	text-decoration: none;
	color: inherit;
}

body {
	background: #efefef;
	overflow-x: hidden;
	main {
		width: 100%;
		background: var(--bg);
		color: var(--color);
	}
	main.light {
		background: var(--bg);
		color: var(--color);
	}
	main.dark {
		background: var(--darkBg);
		color: var(--darkColor);
	}
}

html {
	&::-webkit-scrollbar {
		width: 8px;
	}
	&::-webkit-scrollbar-thumb {
		border-radius: 4px;
		background: #333;
	}
}

table {
	border-collapse: collapse;
}
.mobile {
	* {
		word-break: break-all;
	}
}
fieldset {
	border: none;
}
.h {
	position: absolute;
	top: -9999;
	opacity: 0;
}

:root {
	--tablet: 1199px;
}
