@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@1,500&family=Nanum+Myeongjo:wght@800&family=Noto+Sans+KR:wght@100&family=Open+Sans&family=Orbitron&family=Roboto:ital,wght@1,100&display=swap');

.header {
	width: 90%;
	padding: 30px 2px;
	border-bottom: 1px solid #aaa;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;

	h1 {
		font-family: 'Bitter';
		font-size: 1.5rem;
		//color: #333;
		color: var(--color1);
	}
	.bars {
		display: none;
	}
	ul {
		display: flex;
		gap: 4vw;
		align-items: center;
		font-size: 1rem;
		color: #888;

		li a {
			transition: 0.3 s;
			&.active {
				color: hotpink;
			}
		}
	}
}

.header.main {
	h1 {
		color: aqua;
	}
}

.header.sub {
	h1 {
		color: hotpink;
	}
}

.tablet,
.mobile {
	.header {
		ul {
			display: none;
		}
		.bars {
			display: block;
		}
	}
}
