.Department {
	figure {
		background-color: lightblue;
	}

	.historyBox {
		margin: 100px 0px;
		article {
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			padding: 50px 0px;
			justify-content: space-between;
			position: relative;

			.line {
				position: absolute;
				top: 0;
				left: 35%;
				width: 1px;
				height: 1px;
				background: #555;
			}

			h2 {
				width: 30%;
				text-align: right;
			}
			ul {
				width: 65%;
				padding-left: 50px;
			}
		}
	}

	.memberBox {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		article {
			width: 25%;
			margin-bottom: 50px;
			background: #fff;
			margin-right: 10px;
			border-radius: 10%;
			.pic {
				width: 100%;
				height: 15vw;
				img {
					width: 80%;
					height: 100%;
					object-fit: cover;
					border-radius: 100%;
					filter: grayscale(100%);
					transition: 0.5s;
				}
			}

			h2 {
				margin-bottom: 10px;
				text-align: center;
			}
			p {
				text-align: center;
				margin-bottom: 10px;
			}
			.sns {
				display: flex;
				justify-content: center;
				.btn {
					background-color: rgba(26, 233, 233, 0.7);
					width: 40px;
					border-radius: 20%;
					text-align: center;
					margin: 0px 10px;
					margin-bottom: 15px;
					a {
						font-size: 2rem;
					}
				}
			}
			&.on {
				.pic {
					img {
						filter: grayscale(0%);
						box-shadow: 6px 8px 10px rgba(131, 128, 132, 0.7);
					}
				}
			}
		}
	}
}
