.Community {
	figure {
		background: rgba(234, 0, 255, 0.475);
	}
	.inputBox {
		width: 100%;
		padding: 50px;
		margin-bottom: 50px;

		input[type='text'],
		textarea {
			width: 100%;
			padding: 8px 10px;
			border: 1px solid #aaa;
			resize: none;
			margin-bottom: 10px;
			background: #f0fdff;
		}
		textarea {
			height: 150px;
		}
		.btnSet {
			display: flex;
			justify-content: center;
			button {
				width: 150px;
				height: 30px;
				display: inline-block;
				border: none;
				background: #555;
				margin-right: 20px;
				color: #fff;
				cursor: pointer;
			}
		}
	}
	.showBox {
		width: 100%;
		padding: 20px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		article {
			width: 47%;
			height: 30vh;
			background: #fff;
			padding: 15px;
			margin-bottom: 40px;
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			.txt {
				width: 100%;
				h2 {
					margin-bottom: 10px;
				}
				.pcontent {
					width: 100%;
					height: 90%;
				}
				.day,
				.time {
					font: normal 14px/1 'arial';
				}
				input[type='text'],
				textarea {
					width: 100%;
					padding: 8px 10px;
					border: 1px solid #aaa;
					resize: none;
					margin-bottom: 10px;
					background: #f0fdff;
				}
				textarea {
					height: 80%;
				}
			}
			.btnSet {
				width: 100%;
				display: flex;
				gap: 20px;
				align-items: center;
				justify-content: flex-end;
				button {
					border: none;
					background: transparent;
					cursor: pointer;
					&:nth-of-type(1) {
						color: orange;
					}
					&:nth-of-type(2) {
						color: red;
					}
				}
			}
		}
	}
}

.tablet {
	.Community {
		.showBox {
			article {
				width: 47%;
				height: 30vh;
				background: #fff;
				padding: 15px;
				margin-bottom: 40px;
				display: flex;
				justify-content: space-between;
				flex-wrap: wrap;
				.txt {
					width: 100%;
					height: 90%;
					h2 {
						font-size: 20px;
					}

					.pcontent {
						width: 100%;
						height: 60%;
					}
					.day,
					.time {
						font-size: 10px;
						display: block;
					}
				}
				.btnSet {
					width: 100%;
					height: 20px;
					gap: 20px;
				}
			}
		}
	}
}

.mobile {
	.Community {
		.showBox {
			article {
				width: 100%;
				.txt {
					width: 100%;
					height: 90%;
					h2 {
						font-size: 20px;
					}
					.pcontent {
						width: 100%;
						height: 60%;
					}
					.day,
					.time {
						font-size: 10px;
						display: block;
					}
				}
			}
		}
	}
}

.dark {
	.Community {
		.showBox {
			width: 100%;
			padding: 20px;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			article {
				width: 47%;
				height: 30vh;
				background: #111;
				color: #fff;
				padding: 15px;
				margin-bottom: 40px;
				display: flex;
				justify-content: space-between;
				flex-wrap: wrap;
				border: 2px solid #fff;
			}
		}
	}
}
