.Contact {
	figure {
		background: orange;
	}
	.underline {
		border-bottom: 2px solid #333;
		margin-bottom: 20px;
	}
	#mailBox {
		display: flex;
		justify-content: space-between;
		width: 100%;
		margin-bottom: 50px;
		.left {
			width: 58%;
			.upper {
				width: 100%;
				display: flex;
				margin-bottom: 30px;
				justify-content: space-between;
				input[type='text'],
				input[type='email'] {
					width: 48%;
					border: none;
					padding: 10px 20px;
					border-bottom: 1px solid #555;
					outline: none;
					transition: 0.5s;
					&:focus {
						background: lightcyan;
					}
				}
			}
			.lower {
				width: 100%;
				margin-bottom: 10px;
				// label {
				// 	display: block;
				// 	margin-bottom: 20px;
				// 	position: relative;
				// 	top: 20;
				// 	font: bold 1rem/1 'arial';
				// 	color: #555;
				// }
				textarea {
					width: 100%;
					height: 120px;
					padding: 10px;
					border: none;
					border-bottom: 1px solid #555;
					margin-right: 50px;
					resize: none;
					outline: none;
					transition: 0.5s;
					&:focus {
						background: lightcyan;
					}
				}
			}
			.btnSet {
				width: 100%;
				padding-right: 20px;
				display: flex;
				justify-content: right;
				gap: 50px;
				input {
					padding: 10px;
					display: block;
					height: 40px;
					background: rgb(252, 172, 22);
					border: none;
					font: 1.5rem/40px 'arial';
					color: #555;
					text-align: center;
					line-height: 10px;
				}
			}
		}
		.right {
			border-left: 2px solid black;
			padding-left: 20px;
			width: 40%;
			float: right;
			h3 {
				font: bold 1.8rem/1 'arial';
			}
			.phtit {
				font: bold 1.8rem/1 'arial';
				margin-bottom: 5px;
			}
			.phone {
				font: bold 2rem/1 'arial';
				margin-bottom: 18px;
			}
			p {
				font: normal 1.4rem/1 'arial';
				margin-bottom: 18px;
			}
		}
	}
	#mapBox {
		.btns {
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			gap: 20px;
			margin-bottom: 10px;
			button {
				width: 120px;
				height: 35px;
				border: none;
				background: rgb(153, 107, 22);
				color: #fff;
			}
		}
		ul {
			display: flex;
			gap: 20px;
		}
		li {
			text-align: center;
			width: 120px;
			height: 35px;
			line-height: 35px;
			cursor: pointer;
			background: rgb(255, 199, 56);
			color: #fff;
		}
		li.on {
			background: rgb(235, 178, 33);
			color: rgb(63, 63, 63);
		}
		.container {
			width: 100%;
			height: 60vh;
			background: #111;
			position: relative;
			.map,
			.view {
				width: 100%;
				height: 60vh;
				background: #111;
				position: absolute;
				top: 0;
				left: 0;
				opacity: 0;
				z-index: 1;
				&.on {
					opacity: 1;
					z-index: 2;
				}
			}
		}
	}
}

.tablet {
	.Contact {
		#mailBox {
			.right {
				h3 {
					font: bold 1.5rem/1 'arial';
				}
				.phone {
					font: bold 1.2rem/1 'arial';
					margin-bottom: 18px;
				}
				p {
					font: normal 1rem/1 'arial';
					margin-bottom: 18px;
				}
			}
		}
		#mapBox {
			.btns {
				width: 100%;
				display: flex;
				flex-wrap: wrap;
				gap: 20px;
				margin-bottom: 10px;
				button {
					width: 120px;
					height: 35px;
					border: none;
					background: rgb(153, 107, 22);
					color: #fff;
				}
			}
			ul {
				display: flex;
				gap: 20px;
			}
			li {
				text-align: center;
				width: 120px;
				height: 35px;
				line-height: 35px;
				cursor: pointer;
				background: rgb(255, 199, 56);
				color: #fff;
			}
			li.on {
				background: rgb(235, 178, 33);
				color: rgb(63, 63, 63);
			}
			.container {
				width: 100%;
				height: 60vh;
				background: #111;
				position: relative;
				.map,
				.view {
					width: 100%;
					height: 60vh;
					background: #111;
					position: absolute;
					top: 0;
					left: 0;
					opacity: 0;
					z-index: 1;
					&.on {
						opacity: 1;
						z-index: 2;
					}
				}
			}
		}
	}
}

.mobile {
	.Contact {
		#mailBox {
			.left {
				width: 58%;
				.upper {
					width: 100%;
					display: flex;
					margin-bottom: 10px;
					justify-content: space-between;
					input[type='text'],
					input[type='email'] {
						width: 48%;
						border: none;
						padding: 10px 20px;
						border-bottom: 1px solid #555;
						outline: none;
						transition: 0.5s;
						&:focus {
							background: lightcyan;
						}
					}
				}
				.lower {
					width: 100%;
					margin-bottom: 10px;
					// label {
					// 	display: block;
					// 	margin-bottom: 20px;
					// 	position: relative;
					// 	top: 20;
					// 	font: bold 1rem/1 'arial';
					// 	color: #555;
					// }
					textarea {
						width: 100%;
						height: 120px;
						padding: 10px;
						border: none;
						border-bottom: 1px solid #555;
						margin-right: 50px;
						resize: none;
						outline: none;
						transition: 0.5s;
						&:focus {
							background: lightcyan;
						}
					}
				}
				.btnSet {
					padding-right: 10px;
					gap: 10px;
					input {
						height: 30px;
						font: 1.2rem/1 'arial';
						line-height: 5px;
					}
				}
			}
			.right {
				h3 {
					font: bold 1.2rem/1 'arial';
				}
				.phone {
					font: bold 1rem/1 'arial';
					margin-bottom: 18px;
				}
				p {
					font: normal 0.8rem/1 'arial';
					margin-bottom: 18px;
				}
			}
		}
		#mapBox {
			.btns {
				width: 100%;
				display: flex;
				flex-wrap: wrap;
				gap: 20px;
				margin-bottom: 10px;
				button {
					width: 80px;
					height: 35px;
					border: none;
					background: rgb(153, 107, 22);
					color: #fff;
				}
			}
			ul {
				display: flex;
				gap: 20px;
			}
			li {
				text-align: center;
				width: 120px;
				height: 35px;
				line-height: 35px;
				cursor: pointer;
				background: rgb(255, 199, 56);
				color: #fff;
			}
			li.on {
				background: rgb(235, 178, 33);
				color: rgb(63, 63, 63);
			}
			.container {
				width: 100%;
				height: 60vh;
				background: #111;
				position: relative;
				.map,
				.view {
					width: 100%;
					height: 60vh;
					background: #111;
					position: absolute;
					top: 0;
					left: 0;
					opacity: 0;
					z-index: 1;
					&.on {
						opacity: 1;
						z-index: 2;
					}
				}
			}
		}
	}
}
