@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@1,500&family=Nanum+Myeongjo:wght@800&family=Noto+Sans+KR:wght@100&family=Open+Sans&family=Orbitron&family=Roboto:ital,wght@1,100&display=swap');

footer {
	height: 25vh;
	background: black;
	color: #fff;
	.left {
		width: 20vw;
		height: 100%;
		float: left;
		padding: 20px;
		h1 {
			font: bold 35px/1.2 'Bitter';
			border-bottom: 2px solid red;
		}
		p {
			padding-left: 10px;
			color: red;
			font: normal 20px/1 'arial';
		}
		ul {
			padding-top: 20px;
			width: 100%;
			display: flex;
			justify-content: space-between;
			li {
				width: 40px;
				height: 40px;
				border: 1px solid #fff;
				border-radius: 100%;
				display: flex;
				justify-content: center;
				a {
					font-size: 25px;
				}
				&.on {
					background-color: #fff;
					color: #111;
				}
			}
		}
	}
	.center {
		width: 60vw;
		height: 100%;
		display: inline-block;
		padding: 20px;
		ul {
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-wrap: nowrap;
			li {
				font: bold 15px/1 'arial';
			}
		}
	}
	.right {
		padding: 10px;
		width: 18vw;
		float: right;
		.txtBox {
			margin-bottom: 40px;
			h2 {
				font: bold 1rem/1 'arial';
				margin-bottom: 10px;
			}
			p {
				font: bold 13px/1 'arial';
			}
		}
		.cardBox {
			a {
				padding: 5px;
				font-size: 2.5vw;
			}
		}
	}
}
.tablet {
	footer {
		.left {
			h1 {
				font: bold 25px/1.2 'Bitter';
				border-bottom: 2px solid red;
			}
		}
		.center {
			width: 78vw;
			float: right;
		}
		.right {
			display: none;
		}
	}
}

.mobile {
	footer {
		height: 15vh;
		.left {
			width: 24vw;
			height: 100%;
			float: left;
			padding: 10px;
			h1 {
				font: bold 3vw/1.2 'Bitter';
				border-bottom: 2px solid red;
			}
			p {
				padding-left: 10px;
				color: red;
				font: normal 3vw/1 'arial';
			}
			ul {
				padding-top: 20px;
				width: 100%;
				display: flex;
				justify-content: space-between;
				li {
					width: 30px;
					height: 30px;
					border: 1px solid #fff;
					border-radius: 100%;
					display: flex;
					justify-content: center;
					a {
						font-size: 20px;
					}
				}
			}
		}
		.center {
			width: 70vw;
			float: right;
			ul {
				display: flex;
				justify-content: flex-start;
				align-content: center;
				flex-wrap: wrap;
				li {
					font: bold 2vw/1 'arial';
					margin-right: 10px;
					margin-bottom: 20px;
				}
			}
		}
		.right {
			display: none;
		}
	}
}
